@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-creme: #FCFAF7;
  --font-sans: var(--font-geist-sans);
  --font-serif: var(--font-playfair-display);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}